{% extends 'navBar.html' %}

{% block barraNavegacion %}
<div class="container mt-4">
  <h2>Lista de Productos</h2>


  <!-- Tabla de Clientes -->
  <table class="table table-striped">
    <thead>
      <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>      
      <th scope="col">Apellido</th>      
      <th scope="col">Documento de Identidad</th>
      <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      {% for vendedor in vendedores %}
      <tr>
        <th scope="row">{{ vendedor.id }}</th>
        <td>{{ vendedor.nombre }}</td>     
        <td>{{ vendedor.apellido }}</td>     
        <td>{{ vendedor.documento_identidad }}</td>
        <td>{{ vendedor.correo }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="6" class="text-center">No se encontraron clientes.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- INCLUSIÓN DE LA PAGINACIÓN REUTILIZABLE -->
  {% include '_paginacion.html' %}
</div>
{% endblock  %}







