{% extends 'layout.html' %}

{% block contenido %}

<body>

  <div id="navbar-container"></div>
  <!-- <h1 style="color: blue;">Tu APP de Facturación</h1> -->
  <style>
    .carousel-item {
      height: 500px;
    }

    .carousel-item img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  </style>

  <div id="carouselPrincipal" class="carousel slide carousel-fade" data-ride="carousel" data-interval="4000">

    <!-- Indicadores -->
    <ol class="carousel-indicators">
      <li data-target="#carouselPrincipal" data-slide-to="0" class="active"></li>
      <li data-target="#carouselPrincipal" data-slide-to="1"></li>
      <li data-target="#carouselPrincipal" data-slide-to="2"></li>
    </ol>

    <!-- Slides -->
    <div class="carousel-inner">

      <div class="carousel-item active">
        <!-- <img src="Imagenes/Carrusel/1.carrusel_uno.webp" alt="Promoción 1"> -->

        <img src="{{ url_for('static', filename='img/1.carrusel_uno.webp') }}" alt="Promoción 1">

        <div class="carousel-caption d-none d-md-block">
          <h3>Bienvenido a Hades System</h3>
          <p>Gestiona tus productos de manera rápida y sencilla.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/2.carrusel_dos.webp') }}" alt="Promoción 2">
        <div class="carousel-caption d-none d-md-block">
          <h3>Control de Inventario</h3>
          <p>Administra tus productos fácilmente.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/3.carrusel_tres.webp') }}" alt="Promoción 3">
        <div class="carousel-caption d-none d-md-block">
          <h3>Interfaz Moderna</h3>
          <p>Diseño limpio y responsive con Bootstrap 4.</p>
        </div>
      </div>

    </div>

    <!-- Controles -->
    <a class="carousel-control-prev" href="#carouselPrincipal" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Anterior</span>
    </a>

    <a class="carousel-control-next" href="#carouselPrincipal" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Siguiente</span>
    </a>

  </div>

</body>

<!-- {{ nombre_usuario }} -->
{% endblock contenido %}