{% extends 'navBar.html' %}

{% block barraNavegacion %}
<div class="container mt-4">
  <h2>Lista de Productos</h2>


  <!-- Tabla de Clientes -->
  <table class="table table-striped">
    <thead>
      <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre del Producto</th>      
      <th scope="col">Descripción</th>      
      <th scope="col">Categoría</th>
      <th scope="col">Valor Unitario</th>
      <th scope="col">Stock</th>
      <th scope="col">Código</th>
      </tr>
    </thead>
    <tbody>
      {% for producto in productos %}
      <tr>
         <th scope="row">{{ producto.id }}</th>
        <td>{{ producto.nombre_producto }}</td>     
        <td>{{ producto.descripcion }}</td>     
        <td>{{ producto.id_categoria }}</td>    
        <td>{{ producto.valor_unitario }}</td>
        <td>{{ producto.stock }}</td>
        <td>{{ producto.codigo }}</td>
      </tr>
      {% else %}
      <tr>
        <td colspan="6" class="text-center">No se encontraron clientes.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- INCLUSIÓN DE LA PAGINACIÓN REUTILIZABLE -->
  {% include '_paginacion.html' %}
</div>
{% endblock  %}