{% extends 'layout.html' %}

{% block contenido %}


<body>

    <div id="navbar-container"></div>
    <div class="table-responsive">
        <h3 class="mb-4 text-center">Listado de Facturas</h3>
        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>ID Factura</th>
                        <th>Fecha Emisión</th>
                        <th>Vendedor</th>
                        <th>Productos</th>
                        <th>Subtotal</th>
                        <th>IVA</th>
                        <th>Total</th>
                    </tr>
                </thead>

                <tbody>

                    <tr>
                        <th scope="row">1</th>
                        <td>1</td>
                        <td>2026-04-18</td>
                        <td>Juan Perez</td>
                        <td>Monitor (2), Teclado (1)</td>
                        <td>$350.000</td>
                        <td>$66.500</td>
                        <td>$416.500</td>
                    </tr>

                    <tr>
                        <th scope="row">2</th>
                        <td>2</td>
                        <td>2026-04-17</td>
                        <td>Maria Gomez</td>
                        <td>Laptop (1), Mouse (2)</td>
                        <td>$1.260.000</td>
                        <td>$239.400</td>
                        <td>$1.499.400</td>
                    </tr>

                    <tr>
                        <th scope="row">3</th>
                        <td>3</td>
                        <td>2026-04-16</td>
                        <td>Carlos Rodriguez</td>
                        <td>Audifonos (2)</td>
                        <td>$160.000</td>
                        <td>$30.400</td>
                        <td>$190.400</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>4</td>
                        <td>2026-04-15</td>
                        <td>Laura Martinez</td>
                        <td>Monitor (1), Mouse (1), Teclado (1)</td>
                        <td>$230.000</td>
                        <td>$43.700</td>
                        <td>$273.700</td>
                    </tr>

                    <tr>
                        <th scope="row">5</th>
                        <td>5</td>
                        <td>2026-04-14</td>
                        <td>Andres Lopez</td>
                        <td>Laptop (1)</td>
                        <td>$1.200.000</td>
                        <td>$228.000</td>
                        <td>$1.428.000</td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>

</body>

{% endblock contenido %}