{% extends 'layout.html' %}

{% block contenido %}  

<body>

  <div id="navbar-container"></div>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Número Documento</th>
        <th scope="col">Dirección</th>
      </tr>
    </thead>
    <tbody>
     <tr>
      <th scope="row">1</th>
      <td>Juan</td>
      <td>Pérez</td>
      <td>CC</td>
      <td>12345678</td>
      <td>Calle 123 #45-67</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Ana</td>
      <td>Martínez</td>
      <td>TI</td>
      <td>1023456789</td>
      <td>Carrera 50 #20-30</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Gonzales</td>
      <td>PEP</td>
      <td>78855143</td>
      <td>@Av 10</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>María</td>
      <td>Fernández</td>
      <td>PPT</td>
      <td>1023456789</td>
      <td>Calle 45 #20-30</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Carlos</td>
      <td>Rodríguez</td>
      <td>CE</td>
      <td>87654321</td>
      <td>Carrera 15 #78-45</td>
    </tr>
    </tbody>
  </table>



{% endblock contenido %}  